body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 350px;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.sidebar h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.map-container {
  flex-grow: 1;
}

/* Estilos para o formulário */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #555;
}

.form-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.form-container button:hover {
  background-color: #218838;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}